@import "tailwindcss";

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: #0c2642;
  color: #111827;
  min-height: 100vh;
}

.btn {
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #e8d5bd;
}

.link {
  cursor: pointer;
}

#app {
  min-height: 100vh;
}