@import "tailwindcss";

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: #0c2642;
  color: #111827;
  min-height: 100vh;
}

.btn {
  @apply border p-2 rounded-lg hover:bg-[#e8d5bd] cursor-pointer transition;
}

.link {
  @apply cursor-pointer;
}

#app {
  min-height: 100vh;
}